<h1> Emprego Já </h1>

<% @jobs.each do |job| %>
  <h1> <%= link_to job.title, job %> </h1>
  <%= job.company.name %>
  <%= job.location %>
  <% if job.featured == true %>
     <strong>Destaque</strong>
  <% end %>
<% end %>

<% @companies.each do |company| %>
<h1> <%= link_to company.name, company %> </h1>
<% end %>
